
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env/

# Large binary files - datasets & raw data
*.npy
*.pkl
*.tar.gz
*.zip
*.wav
*.mp4

# Backup files
*.bak

# Raw training datasets
data/raw/

# OS files
.DS_Store
Thumbs.db
